# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Excel data (giữ thư mục data nhưng không commit dữ liệu nhạy cảm)
data/*.xlsx
!data/.gitkeep

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Logs & temp
*.log
*.tmp

# PyInstaller & Binaries
build/
dist/
*.spec
*.exe
*.zip
